<nav class="navbar navbar-expand-lg py-lg-s-5 pb-0">
  <div class="container-fluid justify-content-between py-s-3 py-lg-s-0">
    <a class="navbar-brand me-auto" href="#">
      <img class="logo-img" src="../assets/images/logo.png" alt="logo"
        srcset="../assets/images/logo.png 58w, ../assets/images/logo.png 129w" sizes="(max-width: 767px) 58px, 129px">
    </a>

    <button class="navbar-toggler border-0 outline-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../assets/images/menu.png" alt="">
    </button>
    <div class="collapse navbar-collapse flex-grow-0 mt-s-3" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-line me-auto mb-2 mb-lg-0 flex-wrap flex-lg-nowrap justify-content-lg-center align-items-lg-center py-s-15 py-lg-s-0">
        <li class="nav-item p-0 h5 px-lg-s-14 text-center mb-s-10 mb-lg-s-0 w-50 w-lg-auto">
          <a class="nav-link" aria-current="page" href="#">個人訂餐</a>
        </li>
        <li class="nav-item p-0 h5 px-lg-s-14 text-center mb-s-10 mb-lg-s-0 w-50 w-lg-auto">
          <a class="nav-link" href="#">揪團訂餐</a>
        </li>
        <li class="nav-item p-0 h5 px-lg-s-14 text-center w-50 w-lg-auto">
          <a class="nav-link" href="#">線上超市</a>
        </li>
        <li class="nav-item p-0 h5 ps-lg-s-14 text-center w-50 w-lg-auto">
          <a class="nav-link" href="#">門市資訊</a>
        </li>
      </ul>
    </div>
  </div>
</nav>